include ./pug/variables
include ./pug/templates/mixins
include ./pug/templates/m-head
include ./pug/templates/m-footer

doctype
html(lang="en" data-template-name= array.template_name)
	+head
	body 
		.wrapper
			.hover_item.hover_item__scale just text
			.hover_item.hover_item__rotate just another text
			img(src=`${assetsImage}twitter.svg`).image 

		+red_block('some title', "some description")
		+footer
