html {
	font-size: 10px;
}

.wrapper {
	display: flex;
	gap: 20px;
}

.hover_item {
	position: relative;

	padding: 1rem 3rem;

	font-size: 1.6rem;

	background-color: #f7b3b3;
	border-radius: 4px;
	overflow: hidden;

	cursor: pointer;
}

.hover_item__scale {
	&::before {
		position: absolute;
		bottom: 0;
		left: 0;

		display: block;
		content: '';
		width: 100%;
		height: 3px;

		background-color: #e26262;

		transform: scaleX(0);
		transition: 0.7s;
	}

	&:hover:before {
		transform: scale(1);
	}
}

.hover_item__rotate {
	background-color: red;
	color: #fff;
	background: url('../images/twitter.svg') center center / contain no-repeat;
	// background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%),
	// 	url('../images/twitter.svg') center center / contain no-repeat;
	filter: none;

	transition: 0.7s;

	&:hover {
		// background-color: green;
		filter: invert(40%) sepia(100%) hue-rotate(-185deg) saturate(4);
		color: #fff;
	}
}
